/* src/App.css */
.custom-toast {
    background-color: #28a745;
    /* Green color for success */
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
    background-color: #28a745;
}

.light {
    background-image: linear-gradient(to right, #e0eafc, #cfdef3);
}

.dark {
    background-image: linear-gradient(to right, #1e293b, #0f172a);
    /* From slate-800 to slate-900 */
}